body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.navbar{
    position: fixed;
    
    font-size: 30px;
 background-color:  rgba(255, 255, 255, 0.6);
 width: 100vw;
 height: 15vh;
}
li{
    list-style: none;
    display: inline;
}
.btn_1{
    margin-left: 5px;
    width: 80px;
    height: 30px;
    font-weight: bold;
    border-radius: 15px;
    border-color: rgb(163, 163, 163);
    color: rgb(255, 255, 255);
    background: rgb(251, 95, 147);
   
}
.portada{
    /* background-image: url(/img/tecnodent-publicidad1-copia.png); */
    background-repeat: no-repeat;
}
.portada>img{
    
   height: 40vh;
    align-items: center;
    align-content: center;
    
}
ul{
    padding: 0;
}