body{
    
}
ul{
    text-decoration: none ;
    list-style: none;
}
a{
    text-decoration: none ;
}
.navbar{
    
}
.portada{
/* background-image: url(../img/tecnodent-publicidad1-copia.png); */
background-repeat: no-repeat;

}

.portada a{
    text-decoration: none;
    color: black;
    font-size: xx-large;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  
    
}
#cambiarhoja{
    z-index: 3 !important;
    
}
#img1{
width: 100%;
z-index: -3 !important;
position: absolute;
/* top: -20px; */
}
/* @media screen and (min-width:1190px) {
    #img1{
        width: 60%;
        height: 90%;
}
} */